body  {
    font-family: Bangers;
    text-align: center;
    margin: auto;
/*
    background: url("https://images.unsplash.com/photo-1493087670264-2f7f5844b402?dpr=1&auto=format&fit=crop&w=749&q=60&cs=tinysrgb") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
*/
        
        
}

/*
nav  {
    text-align: center;
}*/

h1  {
    font-size: 200px;
    line-height: normal;
    line-s
}
